POSTGRES_DSN="host=localhost port=5432 dbname=seu_banco user=usuario password=sua_senha"

TRUCKS_API_URL=https://webservice.newrastreamentoonline.com.br/
TRUCKS_API_LOGIN=seu_login
TRUCKS_API_PASSWORD=sua_senha

TRUCKS_MENSAGEM_MID=148725040945
TRUCKS_TELEMETRIA_TID=1
TRUCKS_TELEMETRIA_DIAS_ATRAS=1

TRUCKS_MENSAGENS_INTERVAL=60
TRUCKS_TELEMETRIA_RELATORIO_INTERVAL=300
TRUCKS_VEICULOS_INTERVAL=86400
TRUCKS_OCORRENCIAS_INTERVAL=86400
